<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <filter>
    <filter-name>makumba_controller</filter-name>
    <filter-class>org.makumba.controller.http.ControllerFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>makumba_controller</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>makumbaResources</servlet-name>
    <servlet-class>org.makumba.commons.MakumbaResourceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>makumbaUnique</servlet-name>
    <servlet-class>org.makumba.db.makumba.UniquenessServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>makumbaResources</servlet-name>
    <url-pattern>/makumbaResources/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>makumbaUnique</servlet-name>
    <url-pattern>/makumbaUnique/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>referenceChecker</servlet-name>
    <servlet-class>org.makumba.devel.ReferenceChecker</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>referenceChecker</servlet-name>
    <url-pattern>/referenceChecker</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>mddLinker</servlet-name>
    <servlet-class>org.makumba.devel.SourceViewServlet</servlet-class>
    <!-- generate links to SVN repository -->
    <init-param>
      <param-name>repositoryURL</param-name>
      <param-value>http://makumba.svn.sourceforge.net/viewvc/makumba/trunk/makumba/webapps/tests/</param-value>
    </init-param>
    <init-param>
      <param-name>repositoryLinkText</param-name>
      <param-value>SVN</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>*.jspxp</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/dataDefinitions/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/classes/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/logic/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/codeGenerator/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/validationDefinitions/*</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>dataViewer</servlet-name>
    <servlet-class>org.makumba.devel.DataObjectViewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataViewer</servlet-name>
    <url-pattern>/dataView/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataLister</servlet-name>
    <servlet-class>org.makumba.devel.DataTypeListerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataLister</servlet-name>
    <url-pattern>/dataList/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataValueConverter</servlet-name>
    <servlet-class>org.makumba.devel.DataPointerValueConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataValueConverter</servlet-name>
    <url-pattern>/valueConverter/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataQuery</servlet-name>
    <servlet-class>org.makumba.devel.DataQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataQuery</servlet-name>
    <url-pattern>/dataQuery/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>invoker</servlet-name>
    <servlet-class>org.apache.catalina.servlets.InvokerServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>invoker</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>codeGenerator</servlet-name>
    <servlet-class>org.makumba.devel.CodeGenerator</servlet-class>
  </servlet>

  <taglib>
    <taglib-uri>http://www.makumba.org/presentation</taglib-uri>
    <taglib-location>../../../classes/META-INF/taglib.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://www.makumba.org/view-hql</taglib-uri>
    <taglib-location>../../../classes/META-INF/taglib-hibernate.tld</taglib-location>
  </taglib>

  <servlet>
    <servlet-name>JspRedirector</servlet-name>
    <jsp-file>/JspRedirector.jsp</jsp-file>
    <init-param>
      <param-name>param1</param-name>
      <param-value>value1 used for testing</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>JspRedirector</servlet-name>
    <url-pattern>/JspRedirector</url-pattern>
  </servlet-mapping>

</web-app>
