<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <!-- Makumba Controller Filter, needed to invoke e.g. Form responsders! -->
  <filter>
    <filter-name>makumba_controller</filter-name>
    <filter-class>org.makumba.controller.http.ControllerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>makumba_controller</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <!-- Makumba resource servlet, provides needed JavaScript and other resources, needed e.g. for the calendar editor. -->
  <servlet>
    <servlet-name>makumbaResources</servlet-name>
    <servlet-class>org.makumba.util.MakumbaResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>makumbaResources</servlet-name>
    <url-pattern>/makumbaResources/*</url-pattern>
  </servlet-mapping>


  <!-- Developer support - MDD & Business logic browser & viewer -->
  <servlet>
    <servlet-name>mddLinker</servlet-name>
    <servlet-class>org.makumba.devel.SourceViewServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>*.jspxp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/dataDefinitions/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/classes/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mddLinker</servlet-name>
    <url-pattern>/logic/*</url-pattern>
  </servlet-mapping>

  <!-- Developer support - query tool -->
  <servlet>
    <servlet-name>dataQuery</servlet-name>
    <servlet-class>org.makumba.devel.DataQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataQuery</servlet-name>
    <url-pattern>/dataQuery/*</url-pattern>
  </servlet-mapping>

  <!-- Developer support - single data object viewer -->
  <servlet>
    <servlet-name>dataViewer</servlet-name>
    <servlet-class>org.makumba.devel.DataObjectViewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataViewer</servlet-name>
    <url-pattern>/dataView/*</url-pattern>
  </servlet-mapping>

  <!--  Developer support - data lister -->
  <servlet>
    <servlet-name>dataLister</servlet-name>
    <servlet-class>org.makumba.devel.DataTypeListerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataLister</servlet-name>
    <url-pattern>/dataList/*</url-pattern>
  </servlet-mapping>
  
  <!--  Developer support - pointer value converter -->
  <servlet>
    <servlet-name>dataValueConverter</servlet-name>
    <servlet-class>org.makumba.devel.DataPointerValueConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataValueConverter</servlet-name>
    <url-pattern>/valueConverter/*</url-pattern>
  </servlet-mapping>

</web-app>