/*
  content width: 1034px;
  
*/

/* 
  GENERAL STUFF
*/

html,body {
  font-family: Trebuchet MS, sans;
  font-size: 12px;
  background: #fff;
  margin:0px;
  height:100%;
}
div {
  margin:0px;
  padding:0px;
}

a {
  color:#5a7302;
}
img {
  float:right;
  margin-left:5px;
}


#site {
  width:1031px;
  margin: 0px auto;
  min-height:100%;
}

/* 
  HEADER
*/


#header{
  width:1031px;
  background: #000 url('images/header_back1.png') no-repeat;
  position:relative;
  height:161px;
}
#persistent {
  position:absolute;
  width:140px;
  top:35px;
  right:0px;
  text-align:right;
  font-size:11px;
  color:#93a603;
}
#persistent a {
  text-decoration:none;
  color:#93a603;
}
#persistent a:hover {
  text-decoration:underline;
}
#persistent form {
  display:inline;
  margin:0px;
  padding:0px;
}
#persistent #searchbox {
  border: 1px solid #5a7302;
  margin-left:5px;
  width:86px;
  font-size:11px;
  color:#93a603;
  padding-left:23px;
  background: #fff url('images/search.png') no-repeat;
  height:20px;
}

/* 

  TOP NAVIGATION

*/

#top_nav {
  padding-left:204px;
  position:absolute;
  left:0px;
  top:82px;
/*  background:url('images/header_back2.png') no-repeat;
*/
  height:63px;
}

#top_nav .menu_item {
  height:63px;
  display:block;
  float:left;
}
#top_nav .menu_item span{
  display:none;
  
}

/* ITEM 1 - Quick_start */
#top_nav .item1 {
  width: 142px;
  background: url('images/menu_quickstart.png') no-repeat;
}
#top_nav .item1:hover, #top_nav .item1.active {
  background: url('images/menu_quickstart_active.png') no-repeat;
}

/* ITEM 2 - configuration */
#top_nav .item2 {
  width: 162px;
  background: url('images/menu_configuration.png') no-repeat;
}
#top_nav .item2:hover, #top_nav .item2.active {
  background: url('images/menu_configuration_active.png') no-repeat;
}

/* ITEM 3 - usage */
#top_nav .item3 {
  width: 98px;
  background: url('images/menu_usage.png') no-repeat;
}
#top_nav .item3:hover, #top_nav .item3.active {
  background: url('images/menu_usage_active.png') no-repeat;
}

/* ITEM 4 - documentation */
#top_nav .item4 {
  width: 169px;
  background: url('images/menu_documentation.png') no-repeat;
}
#top_nav .item4:hover, #top_nav .item4.active {
  background: url('images/menu_documentation_active.png') no-repeat;
}

/* ITEM 5 - showcase */
#top_nav .item5 {
  width: 125px;
  background: url('images/menu_showcase.png') no-repeat;
}
#top_nav .item5:hover, #top_nav .item5.active {
  background: url('images/menu_showcase_active.png') no-repeat;
}

/* ITEM 6 - download */
#top_nav .item6 {
  width: 131px;
  background: url('images/menu_download.png') no-repeat;
}
#top_nav .item6:hover, #top_nav .item6.active  {
  background: url('images/menu_download_active.png') no-repeat;
}

/*

  THE SIDE BAR

*/
#sidemenu {
  background: #fff url('images/sidemenu_back.png') 0px 36px repeat-x;
  width:196px;
  border-top:2px solid #000;
  min-height:100%;
  float:left;
}
#sidemenu .title{
  text-align:center;
  background:url('images/sidemenu_title_back.png') 0px 0px repeat-x;
  height:36px;
  vertical-align:middle;
  line-height:36px;
  font-size:17px;
  font-family: Trebuchet MS, Tahoma, Sans;
  font-weight:bold;
}
#sidemenu span {
  width: 161px;
  display:block;
  height:35px;
  line-height:35px;
  border-bottom:1px solid black;
  margin: 0px auto;
}
#sidemenu span.active {
  padding-left: 18px;
  width: 143px;
  background: url('images/sidemenu_selector.png') 2px 12px no-repeat;
}
#sidemenu a {
  text-decoration:none;
  color: #000;
}

/*

  THE CONTENT

*/

#content {
  border-left:2px solid #000;
  width: 815px !important; width: 834px;
  padding-left:18px;
  float:left;
  min-height:100%;
}

h1 {
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  background: #f2ae0c;
  height:34px;
  line-height:34px;
  padding-left:12px;
  margin:0px 0px 10px 0px;
  font-size:21px;
  font-family: Trebuchet MS, Tahoma, Sans;
}

h2 {
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  font-family: tahoma, Trebuchet MS, sans;
  font-size:11px;
  line-height:24px;
  width:50%;
}

div.note {
  background: #f2f1e4;
  border:1px solid #c4db16;
}


div.note .title {
  display:block;
  font-weight:bold;
  background: #c4db16;
  padding:2px 6px;
}
div.note .content {
  display:block;
  padding:10px 12px;
}


div.note.fixme {
  border-color: #e84200;
}
div.note.fixme .title {
  background: #e84200;
}

