/* $Id$ */
  BODY { font-family: arial; }
  H1 { background: #044a2c; color:white; margin-top: 30; padding-left: 10 }
  H2 { background: #CBBE1D; margin-top: 50 ; padding-left: 10}
  H2 { background: #74C27A; margin-top: 50 ; padding-left: 10}
  H3 { background: #C2FE8D; margin-top: 40 ; padding-left: 10}
  H4 { background: #DAD3B8; margin-top: 40 ; padding-left: 10}
  H5 { background: #E0D9CF; color: #666666 ; margin-top: 40 ; padding-left: 10}
  /* old and future feature */
  .oldfeat { color: #000099 }
  .futfeat { color: #990000 }
  .unusedcolor (#74C27A #CBBE1D)

