th {
  color: navy;
  background-color: lightblue;
  font-weight: normal;
}

td.columnHead {
  color: navy;
  background-color: lightblue;
}

tr.odd {
  background-color: #CCFFFF;
}

span.active {
  color: lightblue;
  background-color: darkblue;
  padding: 5px;
}

.mddSubFieldSeparator {
  color: red;
}

.mddComment {
  color: green;
}

.mddValidationLine {
  background: Aquamarine;
}

.mddLineComment {
  color: gray;
}

.mddDateFunctionEvaluated {
  color: grey;
  font-style: italic;
  display: none;
}

.mddDateFunction {
  color: navy;
  text-decoration: underline;
}

.mddFunction {
  background: MediumAquaMarine;
}

.mddFunctionName {
  color: black;
}

.mddFunctionParams {
  color: blue;
}

.mddFunctionDefinition {
  color: navy;
}

.mddFunctionMessage {
  font-style: italic;
}

div.popup {
  display: none;
  position: absolute;
  top: 45px;
  background-color: lightblue;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  text-align: left;
}