/** $Header: /usr/local/cvsroot/karamba/public_html/layout/style/styles.css,v 1.8 2007/03/19 17:11:50 manu Exp $ */
th {
  color: navy;
  background-color: lightblue;
  font-weight: normal;
}

td.columnHead {
  color: navy;
  background-color: lightblue;
}

tr.odd {
  background-color: #CCFFFF;
}

span.active {
  color: lightblue;
  background-color: darkblue;
  padding: 5px;
}

.mddSubFieldSeparator {
  color: red;
}

.mddComment {
  color: green;
}

.mddValidationLine {
  background: Aquamarine;
}

.mddLineComment {
  color: gray;
}

.mddDateFunctionEvaluated {
  color: grey;
  font-style: italic;
  display: none;
}

.mddDateFunction {
  color: navy;
  text-decoration: underline;
}

.mddFunction {
  background: MediumAquaMarine;
}

.mddFunctionName {
  color: black;
}

.mddFunctionParams {
  color: blue;
}

.mddFunctionDefinition {
  color: navy;
}

.mddFunctionMessage {
  font-style: italic;
}