<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Makumba</title>
<link rel="StyleSheet" href="include/themes/default/style.css" type="text/css" media="all"/>
</head>
<body>

<div id="site">
  <div id="header">
    <div id="persistent">
      <a href="#">login</a>-
      <a href="#">my prefs</a>-      
      <form>
        <input type="text" value="search" id="searchbox" 
           onfocus="if(this.value=='search') this.value='';"  
           onblur="if(this.value=='') this.value='search';">
      </form>
    </div>
    <div id="top_nav">
      <a href="#" class="menu_item item1"><span>         quick start    </span></a>
      <a href="#" class="menu_item item2 active"><span>  configuration  </span></a>
      <a href="#" class="menu_item item3"><span>         usage          </span></a>
      <a href="#" class="menu_item item4"><span>         documentation  </span></a>
      <a href="#" class="menu_item item5"><span>         showcase       </span></a>
      <a href="#" class="menu_item item6"><span>         download       </span></a>
    </div>
  </div>
  
  <div id="sidemenu">
     <div class="title">configuration</div>
     <a href="#"><span class="menu_item active">overview</span></a>
     <a href="#"><span class="menu_item">web-app configuration</span></a>
     <a href="#"><span class="menu_item">makumba configuration</span></a>
  </div>
  <div id="content">
     <h1>overview</h1>
     <img src="vlinder.png"/>
     <h2>Read what's going on here!</h2>
     <p>
     Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <a href="#">doloremque laudantium</a>, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="#">aliquam</a> quaerat voluptatem.
     </p>
     <h2>Read what's going on here!</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt <a href="#">explicabo</a>. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
     </p>
     <div class="note fixme">
       <span class="title">FIXME (manu)</span>
       <span class="content">Rudi, what is this used for? I don’t understand why there is a butterfly on this <a href="#">specific page</a> either. Could you change it?
       </span>
     </div>
     <p>Ut interdum risus nunc, placerat <a href="#">feugiat tortor</a>. Pellentesque ut sapien id ipsum imperdiet faucibus. Sed diam augue, faucibus at euismod nec, bibendum ut augue. Mauris sed mi justo, eu sodales nisi. Pellentesque suscipit neque eu nisi gravida feugiat. Integer placerat adipiscing imperdiet. Praesent blandit blandit augue, et fringilla ante rutrum cursus. Pellentesque et consequat erat. Proin feugiat eleifend ligula, at malesuada dui pulvinar nec. Maecenas eu augue eget velit viverra volutpat. Integer non metus euismod magna posuere pharetra in eget odio. Integer turpis sapien, consequat et fermentum id, ultricies nec enim
     </p>
  </div>
</div>

</body>
