body
{
	background: #000 url('images/bg_pattern.png') -6px 0px;
	padding:0px;
	margin:0px;

}
body, p
{
	font-family:trebuchet ms, tahoma, arial, sans;
	color:#3c3f36;
}

p, div 
{	
	font-size:11px;
}

#container
{
	background:  url('images/bamboo_top.png') repeat-x 0px 3px;
	width:100%;
	height:200px;
	text-align:center;
}
#middle
{

	width: 759px;
	min-height:200px;
	margin: 0px auto;
	background:url('images/back_repeat.png') repeat-y;
	text-align:left;
}
#content
{
	width: 480px !important;
	width: 480px;
	margin-top:20px;
	margin-left:20px;
	float:left;
	text-align:justify;
	line-height:1.6em;
}
#content .pdflink
{
	float:right;
}
#content #minitoc-area
{
	display:none;
}
h1
{
	margin-top:0px;
	font-size:30px;
	line-height:1em;
}
h2
{
	background: url('images/h2_back.png');	
	border:1px solid #3c3f36;
	font-size:11px;
	line-height:1.4em;
	font-weight:bold;
	text-transform:uppercase;
	margin:14px 0px 16px 0px;
	padding:0px 4px;
	width:200px;
	
	
}
img
{
	border:none;
}
a
{
	text-decoration:none;
	color: #72918b;
	font-size:11px;
	font-style:italic;
}
a:hover
{
	text-decoration:underline;
}
#header
{
	background: red url('images/header.png') no-repeat;
	height:136px;
}
#contentwrap1
{
	background:  #FEFEEB url('images/bamboo_left.png') repeat-y;
}
#contentwrap2
{
	background: url('images/bamboo_right.png') repeat-y 741px 0px;
}
#contentwrap3
{
	background: url('images/background.png') no-repeat 18px 0px;
	min-height:400px;

}
#tabs
{
	margin: 0px 26px;
	padding-bottom: 5px;
	padding-top: 2px;
	width: 707px;
	text-align:center;
	border-bottom: 1px solid #848579;

}
#tabs a
{
	margin: 0px 3px ;
	padding:1px 17px;
	color:#3c3f36;
	text-decoration:none;
	font-style:normal;
	position:relative;
}
#tabs a:hover
{
	color:#ebe9dc;
	background: #72918B;	
}
#footer
{
	font-size:11px;
	margin-top:20px;
	padding-bottom:20px;
	width: 759px;
	background: url('images/footer.png') no-repeat bottom left;
}
#footer a
{
	text-decoration:none;
	color: #72918b;
	font-style:italic;
}
#footerwrap
{
	border-top: 1px solid #848579;
	padding-bottom:20px;
	padding-top:5px;
	margin: 0px 26px;
	width: 707px;

}
#footer1
{
	float:left;
}
#footer2
{
	float:right;
}
#clear
{	
	clear:both;
}

#menu
{
	border: 1px solid  #848579;
	width: 200px  !important;
	width: 200px;
	margin-top:20px;
	margin-left:26px !important;
	margin-left:13px;
	min-height:300px;
	height: auto !important;
	height: 300px;
	background:#F4F3E3;
	float:left;
	position:relative;
}
#menucontent
{
	padding: 10px 14px;
}
#menucontent, #menucontent div
{
	font-size:11px;
	line-height:25px;	
}
#menuback
{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height: 83px;	
	background: url('images/menu_background.png') no-repeat top left;
}

#menu a, #menu .menuitemgroup, #menu .menutitle, #menu .menupagetitle
{	
	font-style:normal;
	color:#3c3f36;
	text-decoration:none;
	font-size:11px;
}
/*#menu .menuitem, #menu .menuitemgroup,#menu .menupagetitle*/
#menu div
{
	padding-left:12px;
}
#menu .menutitle
{
	background: url('images/chapter.gif') no-repeat 0px 8px;
	cursor:hand;
}
#menu a:hover
{
	text-decoration:underline;
}
#menu .level2
{
	padding-left: 10px;
}
