<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">


    <filter>
        <filter-name>makumba_controller</filter-name>
        <filter-class>org.makumba.controller.http.ControllerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>makumba_controller</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>makumba_controller</filter-name>
        <url-pattern>*.jspx</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>makumba_controller</filter-name>
        <url-pattern>/JspRedirector</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>makumba_controller</filter-name>
        <url-pattern>/mak-tools</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>makumba_controller</filter-name>
        <url-pattern>/mak-tools/*</url-pattern>
    </filter-mapping>

    <!-- For testing -->
    <servlet>
        <servlet-name>testInit</servlet-name>
        <servlet-class>org.makumba.test.TestInitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>testInit</servlet-name>
        <url-pattern>/testInit/*</url-pattern>
    </servlet-mapping>

    <!-- Due to a bug in Cargo, we need this directive here -->
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>JspRedirector</servlet-name>
        <jsp-file>/JspRedirector.jsp</jsp-file>
        <init-param>
            <param-name>param1</param-name>
            <param-value>value1 used for testing</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>JspRedirector</servlet-name>
        <url-pattern>/JspRedirector</url-pattern>
    </servlet-mapping>

</web-app>