/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/**
 * Misc Styles
 */

acronym { cursor: help; }
.boxed      { background-color: #a5b6c6;}
.underlined_5     {border-bottom: solid 5px #4C6C8F;}
.underlined_10     {border-bottom: solid 10px #4C6C8F;}
/* ==================== snail trail ============================ */

.trail {
  position: relative; /* IE bugfix cont'd */
  font-size: 70%;
  text-align: right;
  float: right;
  margin: -10px 5px 0px 5px;
  padding: 0;
}

#motd-area {
    position: relative; /* IE bugfix cont'd */
    float: right;
    width: 35%;
    background-color: #f0f0ff;
    border-top: solid 1px #4C6C8F;
    border-bottom: solid 1px #4C6C8F;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#minitoc-area {
    border-top: solid 1px #4C6C8F;
    border-bottom: solid 1px #4C6C8F;
    margin: 15px 10% 5px 15px;
   /* margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 10%;*/
    padding-bottom: 7px;
    padding-top: 5px;
}
.minitoc {
    list-style-image: url('images/current.gif');
    font-weight: normal;
}

li p {
    margin: 0;
    padding: 0;
}

.pdflink {
    position: relative; /* IE bugfix cont'd */
    float: right;
    margin: 0px 5px;
    padding: 0;
}
.pdflink br {
    margin-top: -10px;
    padding-left: 1px;
}
.pdflink a {
    display: block;
    font-size: 70%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.pdflink img {
    display: block;
    height: 16px;
    width: 16px;
}
.xmllink {
    position: relative; /* IE bugfix cont'd */
    float: right;
    margin: 0px 5px;
    padding: 0;
}
.xmllink br {
    margin-top: -10px;
    padding-left: 1px;
}
.xmllink a {
    display: block;
    font-size: 70%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.xmllink img {
    display: block;
    height: 16px;
    width: 16px;
}
.podlink {
    position: relative; /* IE bugfix cont'd */
    float: right;
    margin: 0px 5px;
    padding: 0;
}
.podlink br {
    margin-top: -10px;
    padding-left: 1px;
}
.podlink a {
    display: block;
    font-size: 70%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.podlink img {
    display: block;
    height: 16px;
    width: 16px;
}

.printlink {
    position: relative; /* IE bugfix cont'd */
    float: right;
}
.printlink br {
    margin-top: -10px;
    padding-left: 1px;
}
.printlink a {
    display: block;
    font-size: 70%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.printlink img {
    display: block;
    height: 16px;
    width: 16px;
}

p.instruction {
  display: list-item;
  list-style-image: url('../images/instruction_arrow.png');
  list-style-position: outside;
  margin-left: 2em;
} 

/** Custom styles - rudi **/
/** redefine td styles here, cause screen.css seems to be loaded after basic.css, and the here defined '.ForrestTable td' style seems to override our color settings */
td.missingDoc {
	font-weight: bold;
	color: red;
}

td.deprecated {
	color: blue;
	font-style: italic;
}
