/*-- MenuTree Plugin --*/
ul.MenuTree {
	margin-left:8px;
	margin-top: 2px;
    margin-bottom: 4px;
	padding-left: 8px;
	color: #444D3D;
	
}
ul.MenuTreeRoot {
	margin-left:12px;
	margin-top: 2px;
    margin-bottom: 4px;
    padding-left: 12px;
	color: #444D3D;
}

li.MenuTree, li.MenuTreeSelected, li.MenuTreeExpanded, li. MenuTreeLeaf, li.MenuTreeLeafSelected {
	line-height: 1.2;
}
li.MenuTree {
	list-style-image: url(MenuTree_FolderClosed.gif);
}
li.MenuTreeExpanded {
	list-style-image: url(MenuTree_FolderOpen.gif);
}
li.MenuTreeSelected {
	list-style-image: url(MenuTree_FolderOpen.gif);
}
li.MenuTreeLeaf {
    list-style-image: url(MenuTree_Leaf.gif);
}
li.MenuTreeLeafSelected {
    list-style-image: url(MenuTree_Leaf.gif);
}
A.MenuTreeSelected {
	background-color: #B9E595;
}
	

